* {
  font-family: 'Shadows Into Light Two', cursive;
  box-sizing: border-box;
}

.html, body {
  height: 100%;
  margin: 0;
}

.main-body {
  position: relative;
  background-image: linear-gradient(#9c51b6, #87cefa, #ffeebe, #ff9933);
  min-height: 500vh;
  color: white;
}

.main-body .text-body {
  width: 100vw;
  font-weight: 400;
  text-align: center;
  margin: 0;
  /* letter-spacing: 3px; */
  padding: 1em
}

.main-body #first {
  position: sticky;
  top: 100px;
}

.main-body .last {
  position: absolute;
  bottom: 50px;
}

.main-body #scrollbtn {
  position: fixed;
  bottom: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background: #eeeeeea1;
  transition: .5s;
}

#scrollbtn:focus {
  outline: none;
  border: 0;
}

#scrollbtn:hover {
  background: #eee;
}

.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}