* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.html, body {
    height: 100%;
    margin: 0;
}

.main-body {
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    height: 100%;
    min-height: 100vh;
    align-content: stretch;
}

.sidenav {
    display: grid;
    grid-template-rows: repeat(5, 1fr [line]);
    align-items: stretch;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #0f0f0f;
}

.page-links {
    grid-row-start: line 3;
}

.page-links > a {
    font-size: 1.5em;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    color: white;
    display: block;
}

.page-links a:hover {
    font-size: 2em;
    /* color: pink; */
    background: pink;
    transition: .3s;
}

.logo-name {
    grid-row-start: line 1;
    color: white;
    text-align: right;
    font-size: 1.7em;
    line-height: 1.7em;
    opacity: 0.6;
    /* border: 1px solid; */
}

.main-yy {
    /* height: 100%; */
    color: #0f0f0f;
    /* background-color: teal; */
    /* padding: 0; */
    /* display: flex; */
    flex: 1;
    align-self: center;
    padding-left: 3rem;
    padding-right: 3rem;;
    /* display: grid;
    grid-template-rows: repeat(4, 1fr [main-line]); */

    /* align-items: stretch; */
    /* justify-self: center; */
    /* border: 1px solid black; */
    
}

.lg-header {
    /* grid-row-start: main-line 1; */
    font-weight: 400;
    font-size: 3em;
    line-height: 2em;
}

.subtitle {
    /* grid-row-start: main-line 2; */
    font-size: 1.5em;
    line-height: 1.3em;;
}

.footer {
    grid-row-start: line 4;
    font-size: .8em;
    color: white;
    align-self: end;
    text-align: left;
    opacity: .8;
    font-weight: 300;
    padding-bottom: 2em;
}

.footer > a {
    /* text-decoration: none; */
    color: white;
    display: block;
}

.footer a:hover {
    color: pink;
}

@media only screen and (max-width: 600px) {
    .lg-header {
      font-size: 2em;
    }
    .subtitle {
        font-size: 1em;
    }
  }